Source: golang-github-digitalautonomy-grumble
Section: devel
Priority: optional
Maintainer: Ola Bini <debian@olabini.se> 
Uploaders: Ola Bini <debian@olabini.se>
Build-Depends: debhelper (>= 11),
               dh-golang,
               golang-any,
               golang-golang-x-crypto-dev,
               golang-goprotobuf-dev,
               golang-websocket-dev
Standards-Version: 4.2.1
Homepage: https://github.com/digitalautonomy/grumble
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-digitalautonomy-grumble
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-digitalautonomy-grumble.git
XS-Go-Import-Path: github.com/digitalautonomy/grumble
Testsuite: autopkgtest-pkg-go

Package: golang-github-digitalautonomy-grumble-dev
Architecture: all
Depends: ${misc:Depends},
         golang-golang-x-crypto-dev,
         golang-goprotobuf-dev,
         golang-websocket-dev
Description: Alternative Mumble server - this fork makes it possible to use Grumble as a library
 Linux CI (Travis CI):
 .
 Build Status (https://travis-ci.org/digitalautonomy/grumble)
 .
 This fork of Grumble was made to make it possible to use the
 functionality of the server as a pure library. In order to
 do this, all paths were changed, the package cmd/grumble was
 renamed to server, and the main function in that package was
 renamed exampleMain. If you're interested in the original code
 or documents, please go to https://github.com/mumble-voip/grumble
 (https://github.com/mumble-voip/grumble).
